.component{
    display: flex;
    width: 100vw;
    margin-top: 50px;
}
.sidenav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    width: 20%;
    padding: 0 2%;
    min-height: 300px;
}

.sidenav__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid black;
    border-radius: 5px;

    min-height: 50px;
}.sidenav__item p{
    margin: 0;
}
.content{
    width: 80%;
    min-height: 300px;
}