.component{
    display: flex;

    width: 100vw;
    height: 100%;
}

.sidebar{
    display: flex;
    flex-direction: column;

    width: 15%;
}.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 85%;
}

