<div class="component p-2 gap-3">

    <div class="sidebar gap-3">
        <button class="btn btn-outline-dark p-3 gap-3" (click)="selectOption('blog')">Blog</button>
        <button class="btn btn-outline-dark p-3 gap-3" (click)="selectOption('personal')">Equipo</button>
        <button class="btn btn-outline-dark p-3 gap-3" (click)="selectOption('trabajo')">Trabajo</button>
    </div>

    <div class="content">

        <ng-container *ngIf="selectedOption == 'blog'">
            <app-secret-blog></app-secret-blog>
        </ng-container>
        
        <ng-container *ngIf="selectedOption == 'personal'">
            <app-secret-personal></app-secret-personal>
        </ng-container>
        
        <ng-container *ngIf="selectedOption == 'trabajo'">
            <app-secret-trabajo></app-secret-trabajo>
        </ng-container>

        <ng-container  *ngIf="selectedOption == ''">
            <p>**elige una opción en el menú lateral**</p>
        </ng-container>
    </div>

</div>