.component{
    display: flex;
    padding: 0 1%;
    gap:2%
}

.chat{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.chats_list{
    display: flex;
    flex-direction: column;
    width: 30%;
}