<div class="component">
    <nav class="nav">
        <ul>
            <li (click)="navigate('')"><a class="nav__link">Sobre nosotros</a></li>
            <li (click)="navigate('/equipo')"><a class="nav__link">Nuestro equipo</a></li>
            <li (click)="navigate('/nuestro-trabajo')"><a class="nav__link">Nuestro trabajo</a></li>
            <li (click)="navigate('/blog')"><a class="nav__link">Blog</a></li>
            <li><a class="nav__link" href="#">LLAMADA A LA ACCION</a></li>
        </ul>
    </nav>
</div>