.component{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.background{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: black;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat

}
.background img{
    height: 100%;
}

.navbar{
    transform: scale(1.2);
}
.carousel{
    max-width: 50%;
}