<div class="component">

    <div class="background">
      <img src="../../../assets/img/header.jpg" >
    </div>
    
    <nav class="navbar navbar-expand-lg bg-transparent">
        <div class="container-fluid">
    
          <a class="navbar-brand" >
            <i class="bi bi-emoji-sunglasses"></i>
          </a>
    
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarNav">
    
            <ul class="navbar-nav">
    
              <li class="nav-item">
                <a class="nav-link active" aria-current="page"  (click)="navigate('')">Sobre ThinFat</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" (click)="navigate('/equipo')" >Nuestro equipo</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" >Nuestro trabajo</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" >Blog</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link disabled">Call2Action</a>
              </li>
    
            </ul>
    
          </div>
        </div>
    </nav>

</div>
