.component{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.background{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url(../../../assets/img/header.jpg);
    // background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}
