<div class="component shadow">

    <div class="card p-2" style="width: 100%;">
        <section class="card-title">
           <h5 class="fs-5">Buscar</h5>
        </section>

           <form class="d-flex flex-column">
               
               <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                   <input type="text" class="form-control form-control-sm" placeholder="EJ. Como cuidar un tatuaje">
                   <button class="btn btn-dark btn-sm">Buscar</button>
              </div>

            </form>


    </div>

</div>