<div class="component">

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">

          <div class="col-md-4">
            <img src="../../../assets/img/header.jpg" class="img-fluid rounded-start" alt="...">
          </div>

            <div class="col-md-8">

              <div class="card-body">
                <h5 class="card-title">{{data.name}}</h5>
                <p class="card-text">{{data.description}}</p>
                <p class="card-text" (click)="like()"><small class="text-muted"> <i class="bi bi-heart likebtn"></i> {{data.likes}}</small></p>
              </div>

            </div>

          </div>
      </div>

</div>