<div class="component">

    <div class="card-img">
        <div class="relleno"></div>
    </div>

    <div class="card-title">
        <p class="txt-title">Nombre</p>
    </div>

    <div class="card-content">
        <p class="txt-gral txt-black">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat laborum esse repudiandae nobis molestias laudantium magnam recusandae dolorum veniam corporis, doloremque iure 
            ullam rerum deleniti consequuntur blanditiis nisi error voluptate.</p>
    </div>
</div>