<div class="component gap-3">
    <h1>Blog</h1>
    <div class="buttons gap-3">
        <button class="btn btn-outline-dark p-3" (click)="selectOption('nueva')">Nueva entrada</button>
        <button class="btn btn-outline-dark p-3" (click)="selectOption('eliminar')">Eliminar entrada</button>
        <button class="btn btn-outline-dark p-3" (click)="selectOption('editar')">Editar entrada</button>
    </div>

    <ng-container  *ngIf="selectedOption == 'nueva'">
        <app-nueva-entrada></app-nueva-entrada>
    </ng-container>

    <ng-container  *ngIf="selectedOption == 'eliminar'">
        <app-eliminar-entrada></app-eliminar-entrada>
    </ng-container>

    <ng-container *ngIf="selectedOption == 'editar'">
        <app-editar-entrada></app-editar-entrada>
    </ng-container>

    <ng-container *ngIf="selectedOption == ''">
        <p>**Elige una opción**</p>
    </ng-container>
</div>
