
.main{
    display: flex;
    flex-direction: column;

    max-width: 100vw;
    min-height: 100vh;

    background-color: whitesmoke;

    overflow: hidden;

}

.wrapper{
    flex-grow: 1;

}

.wrapper__header{
    height: 60vh;

}


