<div class="component">
    <form #nuevaEntradaForm="ngForm">

        <div class="form-group">
            <label for="titulo">Titulo de la entrada</label>
            <input type="text" class="form-control" id="titulo">
        </div>

        <div class="form-group">
            <label for="image">Seleccionar imagen</label>
            <input type="file" class="form-control" id="image">
        </div>

        <div class="form-group">
            <label for="contenido">Contido de la entrada</label>
            <textarea class="form-control" id="contenido"></textarea>
        </div>

    </form>
</div>