<div class="page">
    
    <div class="wrapper">

        <div class="blog-nav"></div>
        <section class="cards-container">


            <article class="card-wrapper" *ngFor="let post of posts">
                <app-card-post [post]="post"></app-card-post>
            </article>


            <article class="card-wrapper" *ngFor="let post of posts">
                <app-card-post [post]="post"></app-card-post>
            </article>
                
                
                


        </section>

    </div>

</div>