.page{
    background-color: var(--background-color);
    min-height: 100%;
}

.wrapper{
    display:flex;
    justify-content: space-between;

    padding: 1rem;

    gap: .5rem;

    width: 100%;
    min-height: 100%;
}

.logo, .info{
    display: flex;

    padding: 2rem;
}

.logo {
    width: 30%
}.info {
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;

    width: 70%
}

.btn{
    width: fit-content;
    height: 3rem;
    align-self: flex-end;

    padding: 1rem;

}

