.page{
    min-height: 100%;
}

.wrapper{
    display:flex;
    justify-content: space-between;

    padding: 1rem;

    gap: .5rem;

    width: 100%;
    min-height: 100%;
}

.image, .info{
    display: flex;

    padding: 2rem;
}

.image {
    width: 40%
}.image img{
    width: 100%;
    height: 80%;
}

.info {
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;

    width: 60%
}
.wrapper:nth-child(even){
    flex-direction: row-reverse;
}.wrapper:nth-child(even) .info .btn{
    align-self: flex-start;

}

.btn{
    width: fit-content;
    height: 3rem;
    align-self: flex-end;

    padding: 1rem;

}

