<div class="page">
    <div class="wrapper">
        <div class="logo"></div>
        <div class="info">
                <p class="txt-title">ThinFat</p>
                <p class="txt-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima totam libero iure distinctio beatae adipisci perferendis aliquam, 
                    doloribus ipsum nisi itaque iusto quod cum ut ipsam consequatur illum nulla similique!</p>

                    <button class="btn">
                        Conócenos
                    </button>
        </div>
    </div>
</div>