<div class="page">

    <!-- NOSOTROS -->
    
    <div class="wrapper">

        <div class="image">
            <img src="../../../assets/img/nosotros.svg" alt="imagen">
        </div>

        <div class="info">
                <p class="txt-title">ThinFat</p>
                <p class="txt-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima totam libero iure distinctio beatae adipisci perferendis aliquam, 
                    doloribus ipsum nisi itaque iusto quod cum ut ipsam consequatur illum nulla similique!</p>

                    <button class="btn">
                        Conócenos
                    </button>
        </div>
    </div>

        <!-- OBJETIVO -->
    
        <div class="wrapper">

            <div class="image">
                <img src="../../../assets/img/nosotros.svg" alt="imagen">
            </div>
    
            <div class="info">
                    <p class="txt-title">Nuestro Objetivo</p>
                    <p class="txt-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima totam libero iure distinctio beatae adipisci perferendis aliquam, 
                        doloribus ipsum nisi itaque iusto quod cum ut ipsam consequatur illum nulla similique!</p>
    
                        <button class="btn">
                            Saber mas
                        </button>
            </div>
        </div>
</div>