.floating-button{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;

    padding: 1%;
    gap:2%;

    width: 30%;
    height: fit-content;

    z-index: 2000;

}

.display{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;

    padding: 2%;
}
.chat-header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 50px;

    background: black;
    color: white;

    padding: 2%;
}
.chat-header p{
    margin: 0;
}
.close-button{
    font-size: 1.5rem;
    position: absolute;
    right: 10px;

}
.close-button:active{
    transform: scale(0.8);
}

.message-wrapper{
    padding:2%;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
}
.chat-form{
    display: flex;
    width: 100%;
    gap:2%;
}
.chat-form input {
    width: 70%;
}.chat-form button {
    width: 30%;
    height: 100% !important;
}
.message{
    position: relative;
    padding: 3%;
    border: 2px solid black
}
.incoming-message{
    border-radius: 10px 10px 10px 5px;
}
.incoming-message::after{
    content: '';
    position: absolute;
    bottom:-30px;
    left: -2px;

    border: 15px solid transparent;
    border-top-color: black;
}
.outgoing-message{
    border-radius: 10px 10px 5px 10px;

}
.outgoing-message::after{
    content: '';
    position: absolute;
    bottom:-30px;
    right: -2px;

    border: 15px solid transparent;
    border-top-color: black;
}
.left-align, .right-align{
    display: flex;
}
.left-align{
    justify-content: flex-start;
}
.right-align{
    justify-content: flex-end;
}

button{
    height: 10% !important;
}

.zindex-top{
    z-index: 2000 !important;
}
