@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Rosario&family=Titillium+Web:ital,wght@0,200;1,200&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root{
    --background-color: #a0a0a0
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Rosario', sans-serif;
}

.component, .page{
    width: 100%;
    height: 100%;
}

.page{
    min-height: 100%;
    
    background: url(assets/img/bitmap.svg);
    background-repeat: no-repeat;
    background-size: cover;

    padding: 1rem;
}

/* TEXTOS */

.txt-title {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 5rem;
    
}.txt-subtitle {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.5rem;
}.txt-gral {
    font-family: 'Rosario', sans-serif;
}
 .txt-title, .txt-subtitle, .txt-gral{
    color: rgb(44, 36, 36)
 }

/* COMPONENTS */

.btn{
    background: white;
    color: var(--background-color);
    padding: auto 1rem;
    border:none;
    border-radius: 5px;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
